In [1]:
import pandas as pd
import numpy as np
import sqlite3
import pandasql
from pandasql import sqldf
import matplotlib.pyplot as plt

pysqldf = lambda q: sqldf(q, globals())

# q = """
# ;"""
# data_cleaned = pysqldf(q)
# data_cleaned

In [2]:
data1 = pd.read_csv("./data/202004-divvy-tripdata.csv")
data2 = pd.read_csv("./data/202005-divvy-tripdata.csv")
data3 = pd.read_csv("./data/202006-divvy-tripdata.csv")
data4 = pd.read_csv("./data/202007-divvy-tripdata.csv")
data5 = pd.read_csv("./data/202008-divvy-tripdata.csv")
data6 = pd.read_csv("./data/202009-divvy-tripdata.csv")
data7 = pd.read_csv("./data/202010-divvy-tripdata.csv")
data8 = pd.read_csv("./data/202011-divvy-tripdata.csv")
data9 = pd.read_csv("./data/202012-divvy-tripdata.csv")

In [3]:

data10 = pd.read_csv("./data/202101-divvy-tripdata.csv")
data11 = pd.read_csv("./data/202102-divvy-tripdata.csv")
data12 = pd.read_csv("./data/202103-divvy-tripdata.csv")
data13 = pd.read_csv("./data/202104-divvy-tripdata.csv")
data14 = pd.read_csv("./data/202105-divvy-tripdata.csv")
data15 = pd.read_csv("./data/202106-divvy-tripdata.csv")
data16 = pd.read_csv("./data/202107-divvy-tripdata.csv")
data17 = pd.read_csv("./data/202108-divvy-tripdata.csv")
data22 = pd.read_csv("./data/Divvy_Trips_2020_Q1.csv")

In [4]:

# data19 = pd.read_csv("./data/Divvy_Trips_2019_Q2")

# data18 = pd.read_csv("./data/Divvy_Trips_2019_Q1")

# data20 = pd.read_csv("./data/Divvy_Trips_2019_Q3.csv")
# data21 = pd.read_csv("./data/Divvy_Trips_2019_Q4.csv")

In [5]:
data_cleaned = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12, data13, data14, data15, data16, data17, data22])
data_cleaned.sort_values(by='started_at', inplace=True)

In [27]:
data1_times = data1.drop(data1.columns[[4,5,6,7,8,9,10,11]], axis=1)

In [30]:
data1_times['duration'] = pd.to_datetime(data1_times['ended_at']) - pd.to_datetime(data1_times['started_at'])

In [31]:
data1_times

,ride_id,rideable_type,started_at,ended_at,member_casual,duration
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,member,0 days 00:26:49
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,member,0 days 00:08:09
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,member,0 days 00:14:23
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,member,0 days 00:12:12
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,casual,0 days 00:52:55
...,...,...,...,...,...,...
84771,200E9CDFC5685AA0,docked_bike,2020-04-16 16:10:16,2020-04-16 16:23:11,member,0 days 00:12:55
84772,F58A8F2ABCB5D95B,docked_bike,2020-04-30 17:56:12,2020-04-30 18:15:21,casual,0 days 00:19:09
84773,A3754693A80E4913,docked_bike,2020-04-24 19:57:33,2020-04-24 21:50:43,casual,0 days 01:53:10
84774,D610CABB67F7B744,docked_bike,2020-04-02 17:59:55,2020-04-02 18:42:26,casual,0 days 00:42:31
84775,79634521ABE4CF69,docked_bike,2020-04-04 01:31:27,2020-04-04 01:37:27,casual,0 days 00:06:00

# Casual vs Member Riders

- Differences between the 2 kinds of users
    - Who bikes more often?
    - Are there differences in the times they bike at? (time of day; day of week; month of year)
    - Are there differences in the rideable types?
    - Are there differences in duration?
    - Differences in Location?

In [56]:
# Scatter Plot:
# Color to show member vs casual 
# Opacity to show duration
# x-axis plots the time of day
# y-axis plots the total ride Time

member_data = data1_times[data1_times['member_casual'] == 'member']
member_data['hour'] = pd.to_datetime(member_data['started_at']).dt.hour
member_data['duration'] = member_data['duration'].dt.seconds
member_y = member_data.groupby(['hour'])['duration'].agg('sum')

<ipython-input-56-9d80e1f1b160>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  member_data['hour'] = pd.to_datetime(member_data['started_at']).dt.hour
<ipython-input-56-9d80e1f1b160>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  member_data['duration'] = member_data['duration'].dt.seconds

In [63]:
member_y

hour
0      187932
1      109729
2       83710
3       54637
4       66279
5      295488
6     1557758
7     2314483
8     2313260
9     2204751
10    2724988
11    4151267
12    5909259
13    6158250
14    7061003
15    7201200
16    7316424
17    7463856
18    5858689
19    3530487
20    1571373
21     740666
22     519673
23     380921
Name: duration, dtype: int64