In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('./data/spi_global_rankings.csv')

new_header = df.iloc[0]
new_df = df[1:] 
new_df.columns = new_header
# new_df.columns = ['rank', 'prev_rank', 'name',	'league',	'off',	'def',	'spi']

In [30]:
df

                                                                  title  intro
rank prev_rank name                  league                  off    def    spi
1    1         Liverpool             Barclays Premier League 2.92  0.22  93.55
2    2         Manchester City       Barclays Premier League 2.86   0.2   93.5
3    3         Bayern Munich         German Bundesliga       3.4   0.55  91.97
4    4         Chelsea               Barclays Premier League 2.46  0.42  86.78
...                                                                 ...    ...
636  636       Stevenage             English League Two      0.2   2.38   5.91
637  637       Hartlepool            English League Two      0.2   2.43   5.68
638  638       New York Red Bulls II United Soccer League    0.22   2.5   5.64
639  639       Oldham Athletic       English League Two      0.24  2.66   5.18
640  640       Scunthorpe            English League Two      0.2   3.21   2.88

[641 rows x 2 columns]